<!DOCTYPE html>
<html lang="en">
 <body>
  <div class="navigation">
   <nav class="nav has-shadow">
				<div class="container">
	  		<div class="nav-left">
	    	<a class="nav-item" href="/">
	      <h3 class="title is-3" style="color: white;">SIMPLE BLOG</h3>
	    	</a>
	  		</div>

	  		<span class="nav-toggle">
	    	<span></span>
	    	<span></span>
	    	<span></span>
	  		</span>

	  		<div class="nav-right nav-menu">
	    	<a class="nav-item is-tab" href="/">
	     Home
	    	</a>
	    	<a class="nav-item is-tab is-active" href="/posts">
	     My Post
	    	</a>
	    	<p class="nav-item is-tab">
						<% if user_signed_in? %>
						<strong><%= current_user.email %></strong>|
  				<%= link_to "Logout", destroy_user_session_path, method: :delete %>
  				<% end %>
  				</p>
	  		</div>
				</div>
   </nav>
  </div>

  <div class="main-header">
   <section class="hero">
				<div class="hero-body">
	  		<div class="container">
	    	<div class="has-text-centered">
	      <h1 class="title is-1 is-spaced"><%= @post.title %>
	      </h1>
	    	</div>
	  		</div>
				</div>
   </section>
  </div>

  <div class="main-content">
   <div class="container">
				<div class="columns is-multiline is-centered has-text-centered">
	  		<div class="column is-7">
	    	<div class="card">
	      <div class="card-image">
								<figure class="image">
		  					<% @post.images.each do |i| %>
		  					<%= image_tag i.photo.url %>
								</figure>
								<% end %>
	      </div>
	      <br>

	      <div class="card-content-header has-text-centered">
	      </div>

	      <div class="card-content">
								<div class="content">
		  					<div class="card-inner-wrapper">
		    				<div class="card-content-text">
		      			<p> <%= @post.body %> </p>
		    				</div>

		    				<div class="card-content-footer-small">
		      			<div class="nav-center">
		      		</div>
		      		<div class="columns">
											<div class="column has-text-left">
			  							<a class="button is-small is-button-grey" href="/">Back to Home
			  							</a>
											</div>
											<div class="column has-text-right">
			  							<i class="fa fa-calendar">
			    						<small><%= @post.updated_at %>
			    						</small>
			  							</i>
											</div>
		      		</div>	      
		    			</div>
		  				</div>
							</div>
	     </div>	      
	    </div>
	    <br/>

	    <div class="comments-content">
	     <div class="comments-header has-text-centered">
							<h4 class="title is-4">Comments</h4>
						</div>
	      
	     	<div class="comments-wrapper">
								<div class="comments-content">
		  					<article class="media">
		    				<div class="media-content">
		      			<div class="content">
												<p>
			  							<strong>Barbara Middleton</strong>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.</p>
												</p>

		      				<article class="media"></article>

		    						<div class="media-content">
		      					<div class="field">
														<p class="control">
			  										<textarea class="textarea" placeholder="Add a comment...">
			  										</textarea>
														</p>
		      					</div>
		      					<div class="field">
														<p class="control">
			  										<button class="button is-button-grey">Post comment
			  										</button>
														</p>
		      					</div>
		    						</div>
		    					</div>
		    				</div>
		  					</article>		  
	    			</div>	    
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	 </div>

	 <div class="footer footer-top-shadow"></div>
 
 </body>
</html>